aside {

	span {
		font-size: 13px;
		color:#969696;
	
	}
	p {
		color:#6e6e6e;
			font-size: 12.7px;
			font-weight: 700;
			letter-spacing: 1.1px;
			line-height: 34px;
			text-align: left;
		i {
			color: #b7b7b7;
		}
	}
	
}

.aside-xs {
	background-color:#D0D0D0 !important;


}
