header {
	padding: 38px 0;
	background-color: #231f20;

	
	.page-header {
		border-bottom:none;
		margin:40px 0;

		h1 {
			font-size: 38px;
			color:white;
			
			font-weight: 700;
			line-height: 55px;
			margin:0 ;
		}
	}

	span {
		color: #777777;
		font-size: 16px;
		font-weight: 400;
	}

}

