.no-space {
	margin-bottom:0!important;
}
.no-space-side {
	padding-left:0!important;
	padding-right:0!important;
}

.load-more {
	margin:62px;

	color:white;
	border:1px solid transparent!important;
	border-radius: 20px;
	background-color:#cb6f6d;
	padding:6px 40px;
	font-size: 16px;
}
